.normal {
	margin:10px 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;
	overflow: hidden;
}
.row{
	display:flex;
	justify-content:flex-start;
}
.headerImg{
	position: absolute;
	height: 80px;
	width:80px;
}
.headerImg img{
	position: absolute;
	max-height: 80px;
	clip:rect(0px 80px 80px 0px); 
}

.tag {
	height:20px;
	line-height:20px;
	font-size:11px;
	background:#fe7e14;
	color:#fff;
	border-radius:10px;
	padding: 2px 8px;
	margin-right: 5px;
}
.rowRigth{
	margin-left: 90px;
	width: 100%;
	&.rowRigth div{
		padding-bottom: 10px;
		border-bottom:.5px solid #ddd;
	}
	&.rowRigth div p{
		font-size: 12px;
		color:#333;
		display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	    overflow: hidden;
	}
}

.rowRigth p{
	letter-spacing: 1px;
	padding: 2px 0px;
	font-size: 14px;
	word-break:break-all;
}

.rowRigth p:nth-of-type(1){
	color: #F4CF83;
	font-size: 17px;
}

.applicationState{
	position: absolute;
	height:20px;
	line-height:20px;
	font-size:11px;
	background:#fe7e14;
	color:#fff;
	margin-top: 5px;
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	right: 20px;
}

.enlist{
	padding:15px 20px 0px 80px;
	margin-left: 10px;
}

.enlist img {
	width: 26px;
	height: 26px;
	margin-right:9px;
	background-size: cover;
	border-radius: 13px;
	float:left
}
.enlist div{

	float:right;
}
.enlist p{
	height:26px;
	line-height: 26px;
}
.enlist p:nth-of-type(2){
	margin-left:20px;
}

